/payline/config export-ignore
/payline/example export-ignore
/payline/test export-ignore
.dockerignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.dev.json export-ignore
docker-compose.yml export-ignore
example.env export-ignore
phpunit.xml export-ignore